.container {
  padding: 2rem;
  font-family: var(--fonte-secundaria);
  font-weight: 350;
}

.container__title {
  display: flex;
  align-items: center;
  gap: 2.5em;
  justify-content: center;
  background-color: var(--cinza-claro);
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
}

.title_text_img {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.title__title{
  font-size: 32px;
  text-decoration: underline;
  font-weight: 380;
}

.title__text {
  font-size: 20px;
  text-decoration: solid;
  width: 600px;
}

.imagens_pequenas {
  display: flex;
  gap: 5rem;
}

.container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  background-color: var(--cinza-claro);
  padding: 1.5em;
  border-radius: 10px;
}

.list__text {
  font-size: 18px;
}

.list__title {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.imagem_G {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #000000;
}

.imagem_P {
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #000000;
}
