.Destaque {
  display: flex;
  justify-content: center;
  gap: 19.7em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--cinza-claro);
}

.Destaque__card {
  padding: 2rem;
  background-color: var(--cinza-claro);
  color: var(--cinza-escuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper {
  width: 710px;
  height: 500px;
  background-color: rgba(49, 47, 47, 0.8);
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Garante que a imagem não ultrapasse a largura do slide */
  max-height: 100%; /* Garante que a imagem não ultrapasse a altura do slide */
}
