.footer{
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    width: 100%;
    background-color: var(--cinza-escuro);
    padding: 2rem 5%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.links__title{
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: var(--fonte-principal);
}

.links__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: circle;
}

.footer__email{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#email{
    background: transparent;
    border: 1px solid var(--cinza-claro);
    height: 2.5rem;
    padding: 1rem;
    border-radius: 8px;
}

#email::placeholder{
    color: white;
}