.SobreNos {
  background-color: var(--cinza-claro);
  box-shadow: 3px 3px 10px black;
  font-family: var(--fonte-principal);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.SobreNos__titulo {
  font-size: 24px;
  text-decoration: underline;
}

.SobreNos__text {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contato {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contato__lista {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.negrito {
  font-weight: 600;
}
